<br>
<h1>Tableau de Bord : </h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Statistique Sexe : </h3>
      <app-one></app-one>
    </div>
    <div class="col-6">
      <h3>Statistique Competence : </h3>
      <app-two></app-two>
    </div>

  </div>
  <br><br>
  <div class="row">
    <div class="col-12">
      <h3>Statistique Sexe Par date d'embauche : </h3>
      <app-four></app-four>
    </div>

  </div>
<br> <br>
  <div class="row">
    <div class="col-6">
      <h3>Statistique Postes : </h3>
      <app-five></app-five>
    </div>
    <div class="col-6">
      <h3>Statistique Contrat : </h3>
        <app-three></app-three>
      </div>

  </div>
</div>
<br> <br>