<div id="printer">
  <div class="bg-img">

  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <br><br>
      <img src="../../../../assets/img/logo.png" width="50%">

      <br><br>
      <br><br>
      <br><br>
      <div style="text-align: center">
        <h1><b>Objet :  Décision de Conge</b></h1>
      </div>


      <br><br>
      <br><br>




      <p><b>



          Nous certifions que Madame / Monsieur {{o.employe.Nom}} {{o.employe.Prenom}}  est employé au sein de notre etablissement depuis le {{o.employe.dateEmbauche}} 
          par la société Dacia Maroc, immatriculée au registre du commerce
                de A956X852 et raison social SA Caisse de Dépôt et de Gestion 47,6%, Renault SAS 52,4% du capital de Renault Tanger Méditerranée et domiciliée Renault Tanger Méditerranée, Zone Franche de Melloussa, Tanger, Maroc.
                <br>
                      Madame / Monsieur {{o.employe.Nom}} {{o.employe.Prenom}} sera en congé {{o.type}} pour la période du {{o.datedebut}} jusqu'au {{o.datefin}}
                          non inclus.
                          <br><br>
                          La reprise du travail est fixée au {{o.datefin}} à 09h00.
                          <br><br>
                            En foi de quoi, la présente attestation lui est délivrée pour servir et valoir ce que de
                            droit.
                            <br><br>
                            Nous vous prions de croire, Madame, Monsieur, à l’expression de nos salutations distinguées.
<br><br>
                           

        </b>
      </p>


      <br>
      <div class="text-right"> Fait à Casablanca, le {{dt.toLocaleDateString()}}.</div>

      <div class="text-right"> La Direction </div>

      <br><br><br><br><br><br>
      <footer style="position: center;">
        <br>
        <b>Renault Tanger Méditerranée, Zone Franche de Melloussa, Tanger, Maroc <br>Tel : 08 000 90 110 Email :Daciamaroc@Gmail.com Fax:+212539653214</b>
      </footer>






    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>
<div class="actions">
  <button class="export-button btn aqua-gradient" (click)="pdfDownload()">Imprimer</button>
</div>
